.uxt-video {
  background-color: #DBDAD9;
  border: 8px solid #DBDAD9;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-related {

    &__header {
      @include font-size(4);
      font-weight: $font-bold;
    }
  
    &__item {
  
      margin-bottom: $size-medium;

      &-text {
        @include font-size(4);
        display: block;

        .uxt-video-related__item-link:focus & {
          @include fsa-focus;
        }    
      }
    
      &-media {
        display: block;
        width: 100%;
      }

      @include breakpoint(S) {
        &-text {
    
          @include font-size(4);
          display: block;
          font-weight: 400;
      
          .uxt-video-related__item-link:focus & {
            @include fsa-focus;
          }
      
        }
      
        &-media {
          display: block;
          width: 100%;
        }
      }
    
      @include breakpoint(M) {
        &__text {
    
          @include font-size(3);
          display: block;
          font-weight: $font-bold;
      
          .uxt-related-video__link:focus & {
            @include fsa-focus;
          }
      
        }
      
        &__img {
          display: block;
          width: 100%;
          border: ($size-base / 2) solid $color-fsa-tertiary-200;
          border-top-width: $size-small;
          border-radius: $size-base;
        }
      }
    
      @include breakpoint(L) {
        &__text {
    
          @include font-size(3);
          display: block;
          font-weight: $font-bold;
      
          .uxt-related-video__link:focus & {
            @include fsa-focus;
          }
      
        }
      
        &__img {
          display: block;
          width: 70%;
          border: ($size-base / 2) solid $color-fsa-tertiary-200;
          border-top-width: $size-small;
          border-radius: $size-base;
        }
      }
  
    }
  }

}
